.o_report_layout_peruvian h2 {
	width: 25%;
	text-align: center !important;
	top: 0;
	right: 0;
	left: inherit;
	/*z-index: 1030;*/
	position: fixed !important;
	float: right !important;
	border: 3px solid #7c8471;
	border-radius: 10px 10px 10px 10px;
}